body {
  margin: 0;
  background-color: #fef9f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 4px solid #7c6f64;
  background-color: #e8e5d1;
  image-rendering: pixelated;
}
